



.TicketContainer{
    /* border: 1px black solid; */
    padding: 10px 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}




.InnerSeatContainer{
    /* border: 1px black solid; */
    padding: 10px 10px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.SeatScreen{
    border: 2px black solid;
    border-radius: 15px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.screen-bold{
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin: 0;
}

.seatDiv{
    border: 1px black solid;
    background-color: #433102;
    padding: 1;
    margin: 0;
    cursor: grab;
}

.Modal{
    position: 'fixed';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%; -50%)';
    background-color: '#FFF';
    padding: '50px';
    z-index:  1000;
    border: '1px solid #000';
}





.buttons_div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;

    width: 100%;
}


.reserve_button{
    border-radius: 10px;
    background-color: #fbf7f3;

}
.reserve_button > a{
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.close_button{
    border-radius: 10px;
    background-color: #fbf7f3;

}
.close_button > a{
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}